<% unless @categories.empty? %>
  <table class="admin_table" id="sub_category_list_admin">
    <tr>
      <th>Category Name</th>
      <th>Category Priority</th>
      <th>&nbsp;</th>
    </tr>
    
    <%  @categories.each do |c| %>
      <tr>
        <td>
          <a class="admin "href="<%= edit_admin_category_path(:id => c) %>"><%= c.name %></a>
        </td>
        <td>
          <%= c.priority %>
        </td>
        <td>
          <%= link_to "Delete", { :controller => "admin/categories", :action => "destroy", :id => c.id }, :class => "admin", :method => :delete, :confirm => "Are you sure?" %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p class="empty_list"> No categories added yet.</p>
<% end %>
  <a class="admin" href="<%= new_admin_category_path %>"> Add new category </a>