<!DOCTYPE html>
<html>
<head>
  <title>EliteHouse</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
	<%= image_tag "bg.jpg", :id => "bg" %>
	<!-- <img src="images/bg.jpg" alt="background image" id="bg" /> -->
	<div id="header" class="<%= "hidden" if controller.class == CategoriesController %>">
		<div id="header_logo">
		</div>
		<div id="gallery_container">
		</div>
		<div id="language_select_container">
		</div>
	</div>
	<div id="content">
		<div id="main_menu_container">
			<div id="menu_container">
				<%= render_navigation (:items => :menu_items)%>
			</div>
			<div id="separator_container">
				<!-- <img id="separator" src="images/line_separator_big.png"> -->
				<%= image_tag "line_separator_big.png", :id => "separator" %>
			</div>
		</div>
		<div id="page_content">
		  <%= yield %>
		</div>
	</div>
</body>
</html>
