<!DOCTYPE html>
<html>
<head>
  <title>EliteHouse</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
	<%= image_tag "bg.jpg", :id => "bg" %>
	<!-- <img src="images/bg.jpg" alt="background image" id="bg" /> -->
	<!-- <div id="header" class="<%= "hidden" if controller.class == CategoriesController %>"> -->
	<div id="header">
		<div id="language_select_container">
			<select id="language_select" onchange="select_locale('<%= current_url %>')">
				<option value="lv">LV</option>
			  <option value="ru">RU</option>
			</select>
		</div>
		<div id="header_logo_container">
			<%= image_tag "elite_house_logo.png", :id => "header_logo" %>
		</div>
		<div id="gallery_container">
		  <%= image_tag Furniture.first.main_image.url(:medium), :id => "gallery_img" %>
		</div>
	</div>
	<div id="content">
		<div id="main_menu_container">
			<div id="menu_container">
				<%= render_navigation (:items => :menu_items)%>
			</div>
			<div id="separator_container">
				<!-- <img id="separator" src="images/line_separator_big.png"> -->
				<%= image_tag "separator_line_left.png", :id => "separator", :class => "separator", :onclick => "change_separator(1)" %>
				<%= image_tag "separator_line_right.png", :id => "separator_2", :class => "separator hidden", :onclick => "change_separator(2)" %>
			</div>
		</div>
		<div id="page_content">
		  <%= yield %>
		</div>
		<script type="text/javascript">
		  gallery(<%= args_for_gallery %>);
		</script
	</div>
</body>
</html>
