<!DOCTYPE html>
<html>
<head>
  <title>EliteHouse</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
	<%= image_tag "bg.jpg", :id => "bg" %>
	<!-- <img src="images/bg.jpg" alt="background image" id="bg" /> -->
	<!-- <div id="header" class="<%= "hidden" if controller.class == CategoriesController %>"> -->
	<div id="left_column">
	  <div id="header">
  		<div id="language_select_container">
  			<select id="language_select" onchange="select_locale('<%= current_url %>')">
  				<option value="lv">LV</option>
  			  <option value="ru">RU</option>
  			</select>
  		</div>
  		<div id="header_logo_container">
  			<%= image_tag "elite_house_logo.png", :id => "header_logo" %>
  		</div>
  	</div>
  	<div id="content">
  		<div id="main_menu_container">
  			<div id="menu_container">
  				<%= render_navigation (:items => :menu_items)%>
  			</div>
  			<div id="separator_container">
  				<!-- <img id="separator" src="images/line_separator_big.png"> -->
  				<%= image_tag "separator_line_left.png", :id => "separator", :class => "separator" %>
  			</div>
  		</div>
  		<div id="page_content">
  		  <%= yield %>
  		</div>
  		<script type="text/javascript">
  		  gallery(<%= args_for_gallery %>);
  		</script>
  	</div>
  </div>
  <div id="right_column">
    <div id="gallery_container">
		  <%= image_tag "gallery/1.jpg", :id => "gallery_img" %>
		</div>
    <%#= image_tag "elite_house_text_from_right_home_page.png", :id => "right_column_image" %>
  </div>
</body>
</html>
