<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>
      <%= page_title %>
    </title>
		<meta name="google-site-verification" content="0IuatFEWtgsmAgZRtbYqexzrLG3ZCct_aXouNm_Q3os" />
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :all %>
    <%= csrf_meta_tag %>
  </head>
  <body bgcolor="#000000" text="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <div align="center">
      <table id="header_table">
        <tr>
          <td>
            <%= image_tag ( agent_ie? ? "header_image_ie.jpg" : "header_image.jpg" ), :id => "logo_img"%>
            <div id="language_select_container">
              <%= link_to image_tag("latvian_flag.gif", :id => "lv_flag"), "javascript:select_locale('#{current_url}', 'lv')" %>
              <%= link_to image_tag("russian_flag.gif", :id => "ru_flag"), "javascript:select_locale('#{current_url}', 'ru')" %>
            </div>
          </td>
        </tr>
        <tr>
          <td class="TopNav">
            <div id="main_menu_container">
              <%= render_navigation (:items => :menu_items, :expand_all => true)%>
              <script type="text/javascript">
                $(document).ready(function(){
                  $("#main_menu_container ul").superfish({
                    delay:       800,                            // one second delay on mouseout 
                    animation:   {opacity:'show',height:'show'},  // fade-in and slide-down animation 
                    speed:       'fast',                          // faster animation speed 
                    autoArrows:  false,                           // disable generation of arrow mark-up 
                    dropShadows: false                            // disable drop shadows
                  });
                });
              </script>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <%= image_tag "spacer.gif", :id => "logo_space_img" %>
          </td>
        </tr>
      </table>
      <table id="content_table">
        <tr valign="top">
          <td>
            <div id="page">
              <%= render :partial => "layouts/title_box", :locals => { :img_title => "page_title" } %>
              <div id="page_content" class="MainText">
                <%= yield %>
              </div>
            </div>
          </td>
          <td id="td_spacer">
            <%= image_tag "spacer.gif", :id => "content_spacer_img" %>
          </td>
          <% unless ( @category && @category.read_attribute(:name) == "Viesistaba" ) || ( controller.action_name == "contacts" ) %>
            <td id="<%= controller.class == CategoriesController ? "right_column" : "right_column_without_gallery" %>">
              <% if controller.class == CategoriesController %>
                <div id="gallery_container">
                  <%= image_tag "gallery/1.jpg", :id => "gallery_img" %>
            		  <script type="text/javascript">
              		  gallery(<%= args_for_gallery %>);
              		</script>
                </div>
              <% end %>
              <div id="right_text_container">
                <%= render :partial => "layouts/title_box", :locals => { :img_title => "description_title" } %>
                <div id="right_text" class="RightText">
                  <%= render :partial => "layouts/description" %>
                  <p>
                    &nbsp;
                  </p>
                </div>
              </div>
            </td>
          <% end %>
        </tr>
      </table>
      <table id="footer_table">
        <tr>
          <td>
            <%= image_tag "spacer.gif", :id => "logo_space_img" %>
          </td>
        </tr>
        <tr>
          <td height="24" align="right" class="Footer">
          </td>
        </tr>
        <tr>
          <td height="20" align="right">
            &nbsp;
          </td>
        </tr>
      </table>
    </div>
    <div style="font-size: 0.8em; text-align: center; margin-top: 1.0em; margin-bottom: 1.0em;">
      <%= link_to_contacts %>
    </div>
  </body>
</html>
